  <article class="markdown-body"><h1 class="atx" id="turning-the-burdens-of-bureaucracy-we-bear-individually-into-a-basis-for-collective-liberation">Turning the burdens of bureaucracy we bear individually into a basis for collective liberation</h1>
<hr>
<h1 class="atx" id="arbitrary-decisions-by-online-platforms">Arbitrary decisions by online platforms</h1>
<h1 class="atx" id="civil-asset-forfeiture">Civil asset forfeiture</h1>
<p>Unfortunately, civil asset forfeiture is <em>so</em> unjust that we would need a lawyer in nearly every case, it appears.  This may (increasingly) vary by state, and if no other organization is at least giving people a place to report their </p>
<ul>
<li><p><a href="https://theappeal.org/understanding-civil-asset-forfeiture-e803c59e633b/">Civil Asset Forfeiture: Explained - The Appeal</a></p>
</li>
<li><p><a href="http://endforfeitureabusetx.org/">EndForfeitureAbuseTX.org</a></p>
</li>
<li><p><a href="https://www.newyorker.com/magazine/2013/08/12/taken">"Taken" article in the New Yorker</a></p>
</li>
</ul>
<hr>
<p><a href="https://www.theatlantic.com/politics/archive/2021/07/how-government-learned-waste-your-time-tax/619568/">The Time Tax: How Government Learned to Waste Your Time</a> published July 27, 2021.  "A six-month wait for unemployment insurance. A paperwork nightmare over an insurance reimbursement. Drug tests for cash benefits. Why is there so much red tape in American life?"</p>
<p>PWGD or a separate legal entity created for this purpose) will use limited power of attorney agreements to combat all the money lost by we the people, on behalf of we the people, because we the people do not have time for all this nonsense on our own. (Or we may have the time but not the skill, or have the skill but have the time in different parts of the day or week or year than is needed— so in the spirit of mutual aid rather than professionalization often we can help each other out. In the spirit of economic justice, however, people taking on this work should not have to do it on a volunteer basis and will be paid!)</p>
<p>Take warrantee repair. If we know seventeen people have had the same problem, we can probably cut through a lot of the red tape at even the best of companies and absolute gaslighting at the worst. And if the problem is bad enough, affecting enough people, we can probably pressure most companies into making it right.</p>
</article>
</body>
</html>
